html,
body,
:root {
    margin: 0;
    padding: 0;
    background-color: black;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    flex-basis: 20%;
    margin: 1rem;
}

/* .movie img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
} */