html,
body,
:root {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    padding: 1rem;
}

.title {
    color: white
}

.icon-title>h1 {
    margin-left: 0.5rem;
    display: inline-block;
}

.movie-title {
    color: black;
}

.card {
    transition: transform 0.2s ease-in-out;
    border: black;
}

.card:hover {
    transform: scale(1.05);
    text-decoration: none;
    border: black;
}